@{
    Layout = "_Layout";
}
@{
    var enumData = from AccountType e in Enum.GetValues(typeof(AccountType))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}
@using static HaloDocMVC.Entity.Models.Constant;
@model List<HaloDocMVC.Entity.Models.PartnersData>;
<div class="container-fluid mt-4 px-5">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Vendor(s)</strong></h4>
        </div>
    </div>

    <div class="bg-white rounded shadow mt-3">
        <div class="d-flex justify-content-between align-self-center p-3">
            <div class="d-flex">
                <div class="search m-1">
                    <a id="searchicon">
                        <i class="fa fa-search"></i>
                    </a>
                    <input type="text" id="searchVendor" class="form-control" placeholder="Search Vendors">
                </div>
                <div class="search m-1">
                    <a id="regionicon">
                        <i class="fa fa-search"></i>
                    </a>
                    <select class="form-select" data-allow-clear="true" tabindex="-1" id="Profession" onchange="handleSearchVendor()" asp-items="@(new SelectList(ViewBag.Profession,"HealthProfessionalId","ProfessionName"))" data-control="select2" data-placeholder="Select Level">
                        <option value="">All Professions</option>
                    </select>
                </div>
            </div>

            <div class="d-flex">
                <a class="btn btn-outline-info m-1 align-self-center" asp-action="AddBusiness" asp-controller="Partners">
                    <i class="fa fa-plus me-1"></i>Add Business
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-responsive mt-3 mb-0 dataTable">
                <thead class="theadbg">
                    <tr>
                        @{
                            <th scope="col">Profession</th>
                            <th scope="col">BusinessName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Fax Number</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Business Contact</th>
                            <th scope="col" class="text-center">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="vendordata">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Profession</td>
                            <td>@item.Business</td>
                            <td>@item.Email</td>
                            <td>@item.FaxNumber</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.BusinessNumber</td>
                            <td class="d-flex justify-content-center">
                                <a asp-action="EditBusiness" asp-controller="Partners" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm document-button mx-1">
                                    Edit
                                </a>
                                <form method="post" id="deleteBusinessForm" asp-action="DeleteBusiness" asp-controller="Partners" class="mt-0">
                                    <input type="hidden" value="@item.Id" name="BusinessId" />
                                    <div class="btn btn-outline-info btn-sm mx-1 deleteBusiness">
                                        <span>Delete</span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function getdatabyrole() {
        var role = $("#regiondropdown").val();
        if (role == '-1') {
            role = null;
            location.reload();
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Partners")?regionId=' + region,
            cache: false,
            success: function (response) {
                console.log(response);
                var bodyContent = $(response).find('tbody').html();
                $('#rolebody').html(bodyContent);
            },
            error: function () {
                alert("Error while Loading data.");
            }
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('searchVendor').addEventListener('keyup', function (evt) {
            if (evt.key === 'Enter') {
                evt.preventDefault();
                handleSearchVendor();
            }
        });
    });
    function handleSearchVendor() {
        var searchValue = $('#searchVendor').val();
        var Profession = $("#Profession").val();
        console.log("Search value: " + searchValue);
        console.log("Profession id: " + Profession);
        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "Partners")',
            data: { searchValue: searchValue, Profession: Profession },
            success: function (data) {
                console.log("AJAX success");
                var bodyContent = $(data).find('tbody').html();
                $('#vendordata').html(bodyContent);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }
</script>
<script type="text/javascript">
    $('.deleteBusiness').click(function () {
        console.log("4867654");
        Swal.fire({
            text: "Do you want to Delete This Business?",
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: "Yes",
            denyButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                $('#deleteBusinessForm').submit();
            }
        });
    })
</script>