﻿@{
    Layout = "_Layout";
}
@{
    double TotalHours = 0;
    int TotalWeekend = 0;
    double TotalHousecalls = 0;
    double TotalPhone = 0;
}
@model HaloDocMVC.Entity.Models.ViewTimeSheet
<section class="container-fluid w-75 my-5">

    <div class=" d-flex flex-row-reverse justify-content-between form-admin mb-3">
        <a onclick="history.back()" class="text-decoration-none text-info ">
            <span class="ml-5 btn btn-outline-info">
                <i class="fa fa-solid fa-angle-left"></i> Back
            </span>
        </a>

    </div>
    <form asp-action="TimeSheetDetailsEdit" asp-controller="Invoicing" method="post">
        <div class="table-responsive ">
            <input hidden name="PhysicianId" value="@Model.PhysicianId" />
            <table class="table w-100">
                <thead>
                    <tr class="table-secondary">
                        <th>
                            Date
                        </th>
                        <th>
                            On-call Hours
                        </th>
                        <th>
                            Total Hours
                        </th>
                        <th>
                            Weekend/Holidays
                        </th>
                        <th>
                            Number of HouseCalls
                        </th>
                        <th>
                            Number of PhoneConsults
                        </th>
                        @if (CredentialValue.role() == "Admin")
                        {
                            <th>
                                Total
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ViewTimesheetDetails.Count; i++)
                    {
                        @if (CredentialValue.role() == "Admin")
                        {
                            TotalHours = TotalHours + (double)Model.ViewTimesheetDetails[i].TotalHours;
                            TotalWeekend = TotalWeekend + (Model.ViewTimesheetDetails[i].IsWeekend == true ? 1 : 0);
                            TotalHousecalls = TotalHousecalls + (double)Model.ViewTimesheetDetails[i].NumberofHousecall;
                            TotalPhone = TotalPhone + (double)Model.ViewTimesheetDetails[i].NumberofPhonecall;
                        }
                        <input hidden asp-for="ViewTimesheetDetails[i].TimeSheetDetailId">
                        <input hidden asp-for="ViewTimesheetDetails[i].TimeSheetDate">
                        <tr>
                            <td>@Model.ViewTimesheetDetails[i].TimeSheetDate </td>
                            <td>@Model.ViewTimesheetDetails[i].OnCallHours</td>
                            <td>
                                <div class="form-floating ">
                                    <input type="number" class="form-control" id="floatingInput" asp-for="ViewTimesheetDetails[i].TotalHours" value="@Model.ViewTimesheetDetails[i].TotalHours">
                                    <label for="floatingInput"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="ViewTimesheetDetails[i].IsWeekend" checked="@Model.ViewTimesheetDetails[i].IsWeekend" id="flexCheckDefault">

                                </div>
                            </td>
                            <td>
                                <div class="form-floating ">
                                    <input type="number" class="form-control" asp-for="ViewTimesheetDetails[i].NumberofHousecall" id="floatingInput" value="@Model.ViewTimesheetDetails[i].NumberofHousecall">
                                    <label for="floatingInput"></label>
                                </div>
                            </td>
                            <td>
                                <div class="form-floating ">
                                    <input type="number" class="form-control" asp-for="ViewTimesheetDetails[i].NumberofPhonecall" id="floatingInput" value="@Model.ViewTimesheetDetails[i].NumberofPhonecall">
                                    <label for="floatingInput"></label>
                                </div>
                            </td>
                            @if (CredentialValue.role() == "Admin")
                            {
                                <td>
                                </td>
                            }
                        </tr>
                    }

                    @if (CredentialValue.role() == "Admin")
                    {
                        <tr>
                            <td>Payrate </td>
                            <td>  </td>
                            <td> @Model.PayrateWithProvider[0].Shift </td>
                            <td> @Model.PayrateWithProvider[0].HouseCallNightsWeekend + @Model.PayrateWithProvider[0].PhoneConsultsNightsWeekend </td>
                            <td> @Model.PayrateWithProvider[0].HouseCalls </td>
                            <td> @Model.PayrateWithProvider[0].PhoneConsults </td>
                            <td></td>
                        </tr>
                        <hr />
                        <tr>
                            <td> Invoice Total </td>
                            <td>  </td>
                            <td> @(TotalHours * (double)Model.PayrateWithProvider[0].Shift) </td>
                            <td> @(TotalWeekend * (@Model.PayrateWithProvider[0].HouseCallNightsWeekend + @Model.PayrateWithProvider[0].PhoneConsultsNightsWeekend))</td>
                            <td> @(TotalHousecalls * (double)Model.PayrateWithProvider[0].HouseCalls) </td>
                            <td> @(TotalPhone * (double)Model.PayrateWithProvider[0].PhoneConsults) </td>
                            <td>@(TotalHours * (double)Model.PayrateWithProvider[0].Shift + TotalWeekend * (double)(@Model.PayrateWithProvider[0].HouseCallNightsWeekend + @Model.PayrateWithProvider[0].PhoneConsultsNightsWeekend) + TotalHousecalls * (double)Model.PayrateWithProvider[0].HouseCalls + TotalPhone * (double)Model.PayrateWithProvider[0].PhoneConsults)</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <input type="submit" class="btn btn-info" />
            </div>

        </div>
    </form>
    <button class="btn btn-info show-bill">Add Receipt</button>
    <div id="billsection" style="display:none" class="card border-0 shadow py-4 mb-5 mx-3 mt-3 rounded">


        <div id="table" class="table-responsive  d-md-block">

            <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
            <table class="table table-responsive mt-3 p-3">
                <thead>
                    <tr class="table-secondary">
                        <th>Date</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th class="text-center">Bill</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody class=" mx-5">
                    @{
                        int j = 0;
                    }

                    @foreach (var detail in Model.ViewTimesheetDetails)
                    {
                        <tr>
                            <td scope="col">
                                @Html.DisplayFor(m => detail.TimeSheetDate)
                            </td>
                            <td scope="col">
                                @if (j < Model.ViewTimesheetDetailReimbursements.Count && detail.TimeSheetDate == Model.ViewTimesheetDetailReimbursements[j].TimeSheetDate)
                                {
                                    <div class="pay-item-div">@Model.ViewTimesheetDetailReimbursements[j].ItemName</div>
                                    <input type="hidden" class="pay-item form-control form-control-disable rounded" value="@Model.ViewTimesheetDetailReimbursements[j].ItemName" />
                                }
                                else
                                {
                                    @if (CredentialValue.role() == "Admin")
                                    {
                                        <input class="pay-item form-control form-control-disable rounded" type="text" readonly />
                                    }
                                    else
                                    {
                                        <input class="pay-item form-control form-control-disable rounded" type="text" />
                                    }
                                }
                            </td>
                            <td scope="col">
                                <div class="">
                                    @if (j < Model.ViewTimesheetDetailReimbursements.Count && detail.TimeSheetDate == Model.ViewTimesheetDetailReimbursements[j].TimeSheetDate)
                                    {
                                        <div class="pay-amount-div">@Model.ViewTimesheetDetailReimbursements[j].Amount</div>
                                        <input type="hidden" class="pay-amount form-control form-control-disable rounded numeric-input" value="@Model.ViewTimesheetDetailReimbursements[j].Amount" />
                                    }
                                    else
                                    {
                                        @if (CredentialValue.role() == "Admin")
                                        {
                                            <input class="pay-amount form-control form-control-disable rounded" type="text" readonly />
                                        }
                                        else
                                        {
                                            <input class="pay-amount form-control form-control-disable rounded" type="text" />
                                        }
                                    }
                                </div>
                            </td>
                            <td scope="col" class="text-center">
                                @if (j < Model.ViewTimesheetDetailReimbursements.Count && detail.TimeSheetDate == Model.ViewTimesheetDetailReimbursements[j].TimeSheetDate)
                                {
                                    @Html.DisplayFor(m => Model.ViewTimesheetDetailReimbursements[j].Bill, new { @class = "form-control form-control-disable rounded", autocomplete = "off" })
                                    @Html.HiddenFor(m => Model.ViewTimesheetDetailReimbursements[j].ItemName, new { @class = "pay-item-hidden" })
                                    @Html.HiddenFor(m => Model.ViewTimesheetDetailReimbursements[j].Amount, new { @class = "pay-amount-hidden" })
                                }
                                else
                                {
                                    @if (CredentialValue.role() == "Admin")
                                    {
                                        <input class="pay-amount form-control form-control-disable rounded" type="text" readonly />
                                    }
                                    else
                                    {
                                        <form method="post" class="mt-0 myform" asp-action="TimeSheetBillAddEdit" asp-controller="Invoicing" enctype="multipart/form-data">
                                            <input type="hidden" class="pay-item-hidden" name="Item" />
                                            <input type="hidden" class="pay-amount-hidden" name="Amount" />
                                            <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
                                            <input type="hidden" name="StartDate" value="@Model.ViewTimesheetDetails[0].TimeSheetDate" />
                                            <input type="hidden" value="@detail.TimeSheetDetailId" name="Timesheetdetailid" />
                                            <div class="form-floating">
                                                <div class="col-md-12 form-floating d-flex file-parent">
                                                    <div class="file-upload-timesheet border border-1" data-text="Select file">
                                                        <input name="file" type="file" class="file-upload-field" style="display:block;" id="file" value="">
                                                    </div>
                                                    <input type="submit" class="btn text-light btn-info rounded-0 d-flex align-items-lg-center fileupload" id="">
                                                </div>
                                            </div>
                                        </form>
                                    }
                                }
                            </td>
                            <td scope="col">
                                <div class="d-flex">
                                    @if (j < Model.ViewTimesheetDetailReimbursements.Count && detail.TimeSheetDate == Model.ViewTimesheetDetailReimbursements[j].TimeSheetDate)
                                    {
                                        @if (CredentialValue.role() == "Provider")
                                        {
                                            <div>
                                                <form method="post" class="mt-0 myform" asp-action="TimeSheetBillAddEdit" asp-controller="Invoicing" enctype="multipart/form-data">
                                                    <input type="hidden" class="pay-item-hidden" name="Item" value="@Model.ViewTimesheetDetailReimbursements[j].ItemName" />
                                                    <input type="hidden" class="pay-amount-hidden" name="Amount" value="@Model.ViewTimesheetDetailReimbursements[j].Amount" />
                                                    <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
                                                    <input type="hidden" name="StartDate" value="@Model.ViewTimesheetDetails[0].TimeSheetDate" />
                                                    <input type="hidden" value="@detail.TimeSheetDetailId" name="Timesheetdetailid" />
                                                    <input type="hidden" value="@Model.ViewTimesheetDetailReimbursements[j].TimeSheetDetailReimbursementId" name="Trid" />
                                                    <button type="submit" class="btn btn_hover mx-1 btn-sm btn-outline-info save-btn d-none">Save</button>
                                                </form>
                                            </div>
                                            <div class="btn mx-1 btn-sm btn_hover btn-outline-info cancel-btn d-none">Cancel</div>
                                            <div class="btn mx-1 btn-sm btn_hover btn-outline-info edit-btn">Edit</div>
                                            <form method="post" class="mt-0 myform" asp-action="TimeSheetBillRemove" asp-controller="Invoicing" enctype="multipart/form-data">
                                                <button type="submit" class="btn mx-1 btn_hover btn-sm btn-outline-info delete-btn">
                                                    <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
                                                    <input type="hidden" value="@Model.ViewTimesheetDetailReimbursements[j].TimeSheetDetailReimbursementId" name="Trid" />
                                                    <input type="hidden" name="StartDate" value="@Model.ViewTimesheetDetails[0].TimeSheetDate" />
                                                    Delete
                                                </button>
                                            </form>
                                        }
                                        <a target="_blank" href="/Upload/TimeSheet/@Model.TimesheetId/@Model.ViewTimesheetDetailReimbursements[j].Bill" class="btn btn_hover mx-1 btn-sm btn-outline-info view-btn">view</a>
                                        j++;
                                    }
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        @if (CredentialValue.role() == "Admin")
        {

            <div class="text-end mx-3 mb-3">
                <form asp-action="SetToApprove" class="d-flex justify-content-end" asp-controller="Invoicing">
                    <input asp-for="TimesheetId" type="hidden" />

                    <div class="bg-white mx-2 form-floating ">
                        <input asp-for="Bonus" class="form-control rounded numeric-input" type="text" placeholder=Suchtext autocomplete=off>
                        <label for="floatingInput">Bonus Amount</label>
                    </div>

                    <div class="bg-white mx-2 form-floating  ">
                        <input asp-for="AdminNotes" class="form-control rounded " type="text" placeholder=Suchtext autocomplete=off>
                        <label for="floatingInput">Admin Notes </label>
                    </div>

                    <input type="submit" value="Approve" class="btn btn-info text-white " />
                </form>
            </div>
        }
        else
        {
            <div class="text-end mx-3 mb-3">
                <a asp-action="SetToFinalize" asp-controller="Invoicing" asp-route-timesheetid="@Model.TimesheetId" type="submit" class="btn btn-info text-white">Finalize</a>
            </div>
        }

    </div>
</section>

@section Scripts {
    <script>
        $(document).on('click', '.show-bill', function () {
            $('#billsection').show();
            $(this).addClass('hide-bill').removeClass('show-bill');
        });

        $(document).on('click', '.hide-bill', function () {
            $('#billsection').hide();
            $(this).removeClass('hide-bill').addClass('show-bill');
        });

        $('.edit-btn').click(function () {
            var row = $(this).closest('tr');
            row.find('.pay-item').attr('type', 'text');
            row.find('.pay-amount').attr('type', 'text');
            row.find('.pay-item-div').addClass('d-none');
            row.find('.pay-amount-div').addClass('d-none');
            row.find('.edit-btn').addClass('d-none');
            row.find('.save-btn').removeClass('d-none');
            row.find('.cancel-btn').removeClass('d-none');
            row.find('.form-control-disable').prop('disabled', false);
        });

        $('.cancel-btn').click(function () {
            var row = $(this).closest('tr');
            row.find('.pay-item').attr('type', 'hidden');
            row.find('.pay-amount').attr('type', 'hidden');
            row.find('.pay-item-div').removeClass('d-none');
            row.find('.pay-amount-div').removeClass('d-none');
            row.find('.edit-btn').removeClass('d-none');
            row.find('.save-btn').addClass('d-none');
            row.find('.cancel-btn').addClass('d-none');
            row.find('.form-control-disable').prop('disabled', true);
        });

        $(document).ready(function () {
            $('.pay-item-hidden').attr('name', 'Item');
            $('.pay-amount-hidden').attr('name', 'Amount');
            $(".pay-item").on("input", function () {
                // Get the updated value
                var newValue = $(this).val();
                // Update the value of the hidden input field
                $(this).closest("tr").find(".pay-item-hidden").val(newValue);
            });
            $(".pay-amount").on("input", function () {
                // Get the updated value
                var newValue = $(this).val();
                // Update the value of the hidden input field
                $(this).closest("tr").find(".pay-amount-hidden").val(newValue);
            });
        });
    </script>
}