﻿@{
    Layout = "_Layout";
}
@model List<HaloDocMVC.Entity.Models.ProviderMenu>
<div class="container">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>MDs On Call</strong></h4>
        </div>
        <div class="backBtn mt-2">
            <a asp-controller="Scheduling" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
        </div>
    </div>
    <div class="mt-3">
        <div class="mt-3 d-flex justify-content-between">
            <div class="search m-1">
                <a id="regionicon">
                    <i class="fa fa-search"></i>
                </a>
                <select class="form-select" data-allow-clear="true" tabindex="-1" id="schedulingregion" asp-items="@(new SelectList(ViewBag.AllRegion,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level" style="padding-left:5px">
                    <option value="-1">All Region</option>
                </select>
            </div>
            <div class="btns">
                <a asp-controller="Scheduling" asp-action="Index" class="btn btn-info text-white">Calender View</a>
                <a asp-action="RequestedShift" asp-controller="Scheduling" class="btn btn-info text-white">Shifts For Review</a>
            </div>
        </div>
    </div>
    <div class="card border-0 shadow py-2 mb-5 mx-1 mt-3 rounded" id="MDS">
        <div class="p-3 ">
            <h4 class="fw-bold">MD's On Call</h4>
            <div class="container-fluid">
                <div class="row my-4 oncall" id="oncall">
                    @foreach (var item in Model)
                    {
                        @if (item.OnCallStatus == 1)
                        {
                            <div class="col-md-4 my-2">
                                <img src="~/images/7774236_3736765.jpg" style="height: 50px;" />
                                <span> @item.FirstName @item.LastName</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="p-3 ">
            <h4 class="fw-bold">Physicians off Duty</h4>
            <div class="container-fluid">
                <div class="row my-4 offcall" id="offcall">
                    @foreach (var item in Model)
                    {
                        @if (item.OnCallStatus == 0)
                        {
                            <div class="col-md-4 my-2">
                                <img src="~/images/7774236_3736765.jpg" style="height: 50px;" />
                                <span> @item.FirstName @item.LastName</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#schedulingregion').on('change', function () {
                var regionid = $(this).val();
                if (regionid == -1) {
                    location.reload();
                }
                $.ajax({
                    url: '/Scheduling/MDSOnCall',
                    data: { regionid: regionid },
                    success: function (response) {
                        console.log(response);
                        $(".oncall").empty();
                        $(".offcall").empty();

                        response.forEach(function (item) {
                            var div = document.createElement('div');
                            div.className = 'col-md-4 my-2';
                            var img = document.createElement('img');
                            img.src = item.photo;
                            img.style.height = '100px';
                            var span = document.createElement('span');
                            span.textContent = item.firstName + ' ' + item.lastName;
                            span.classList = 'ms-4';
                            div.appendChild(img);
                            div.appendChild(span);
                            if (item.onCallStatus === 1) {
                                $(".oncall").append(div);
                            } else if (item.onCallStatus === 0) {
                                $(".offcall").append(div);
                            }
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });
    </script>
}
