﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Admin Profile";
}
@using static HaloDocMVC.Entity.Models.Constant;
@model HaloDocMVC.Entity.Models.ViewAdminProfile;

@{
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Profile</strong></h4>
        </div>
        <div class="backBtn">
            <a asp-controller="Access" asp-action="UserAccess"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
        </div>
    </div>
    @* Profile Information *@
    <div class="bg-white rounded shadow mt-3">
        <div class="p-4">
            @* Account Information *@
            <form method="post" asp-controller="AdminProfile" asp-action="EditPassword" id="resetpassform" class="mt-0">
                <h5><strong>Account Information</strong></h5>
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="UserName" class="form-control shadow-none" id="uname" placeholder="First Name" disabled />
                                <label for="uname">User Name</label>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Password" class="form-control shadow-none" id="pass" placeholder="Password" />
                                <label for="pass">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <select class="form-select" required asp-for="Status" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(enumData, "ID", "Name"))" data-control="select2" data-placeholder="Select Level" disabled>
                                </select>
                                <label for="Status">Status</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <select class="form-select" required asp-for="RoleId" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.UserRole, "RoleId", "RoleName"))" data-control="select2" data-placeholder="Select Level" disabled></select>
                                <label for="role">Role</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="button" value="Reset Password" id="resetpassbtn" class="btn border border-info text-info" />
                        </div>
                    </div>
                </div>
            </form>

            @* Administrator Information *@
            <form method="post" asp-controller="AdminProfile" asp-action="EditAdministratorInfo" id="AdministratorInfoForm" class="mt-0">
                <h5><strong>Administrator Information</strong></h5>
                <input type="hidden" asp-for="AdminId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="FirstName" class="form-control shadow-none input1" id="fname1" placeholder="First Name">
                                <label for="fname1">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="LastName" class="form-control shadow-none input1" id="lname1" placeholder="Last Name">
                                <label for="lname1">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Email" class="form-control shadow-none input1" id="dob1" placeholder="Date Of Birth">
                                <label for="dob1">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Email" class="form-control shadow-none input1" id="email1" placeholder="Date Of Birth">
                                <label for="email1">Confirm Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating h-100 w-100">
                                <input type="tel" asp-for="Mobile" class="form-control shadow-none input1" id="phone1" autocomplete="off" placeholder="Phone Number">
                                <label for="phone1">Phone Number</label>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <input asp-for="RegionsId" type="hidden" id="regionids" />
                        <div class="col-md-6 d-flex pb-3">
                            @foreach (var cb in ViewBag.AllRegion)
                            {
                                @if (Model != null && Model.RegionIds.Count > 0 && Model.RegionIds.Exists(id => id.RegionId == cb.RegionId))
                                {
                                    <div class="form-check mx-2">
                                        <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="Region" id="flexCheckDefault" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @cb.RegionName
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check mx-2">
                                        <input class="form-check-input" value="@cb.RegionId" type="checkbox" name="Region" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @cb.RegionName
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="button" value="Edit" id="edit1" class="btn btn-info text-white" onclick="toggleFormElements1()" />
                            <input type="button" value="Save" id="save1" class="btn btn-info text-white" />
                        </div>
                    </div>
                </div>
            </form>

            @* Mailing/Billing Information *@
            <form method="post" asp-controller="AdminProfile" asp-action="BillingInfoEdit" id="BillingInfoForm" class="mt-0">
                <h5><strong>Mailing/Billing Information</strong></h5>
                <input type="hidden" asp-for="AdminId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Address1" class="form-control shadow-none input2" id="Address1">
                                <label for="Address1">Address 1</label>
                                <span asp-validation-for="Address1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Address2" class="form-control shadow-none input2" id="Address2">
                                <label for="Address2">Address 2</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="City" class="form-control shadow-none input2" id="City">
                                <label for="City">City</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="State" class="form-control shadow-none input2" id="State" placeholder=Suchtext autocomplete=off>
                                <label for="State">State</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="ZipCode" class="form-control shadow-none input2" id="Zip">
                                <label for="Zip">Zip</label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating h-100 w-100">
                                <input type="tel" asp-for="AltMobile" class="form-control shadow-none input2" id="phone" autocomplete="off">
                                <label for="phone">Phone Number</label>
                                <span asp-validation-for="AltMobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="button" value="Edit" id="edit2" class="btn btn-info text-white" onclick="toggleFormElements2()" />
                            <input type="button" value="Save" id="save2" class="btn btn-info text-white" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    window.onload = function (e) {
        toggleFormElements1('true')
        toggleFormElements2('true')
        $(".form-check-input").prop("disabled", true);
    }

    function toggleFormElements1(bDisabled) {
        var inputs = document.getElementsByClassName("input1");
        var submit = document.getElementById("save1");
        var editprofile = document.getElementById("edit1");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        $(".form-check-input").prop("disabled", false);
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "block";
        } else {
            submit.style.display = "block";
            editprofile.style.display = "none";
        }
    }

    function toggleFormElements2(bDisabled) {
        var inputs2 = document.getElementsByClassName("input2");
        var submit2 = document.getElementById("save2");
        var editprofile2 = document.getElementById("edit2");
        for (var i = 0; i < inputs2.length; i++) {
            inputs2[i].disabled = !inputs2[i].disabled;
        }
        if (inputs2[0].disabled) {
            submit2.style.display = "none";
            editprofile2.style.display = "block";
        } else {
            submit2.style.display = "block";
            editprofile2.style.display = "none";
        }
    }
    $(function () {
        $('#resetpassbtn').on('click', function () {
            Swal.fire({
                title: "Do you want Reset Password  Changes ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#resetpassform').submit();
                }
            });
        });
    });

    $(function () {
        $('#save1').on('click', function () {
            let checkboxes = document.querySelectorAll('input[name="Region"]:checked');
            let regionIds = [];
            checkboxes.forEach((checkbox) => {
                regionIds.push(checkbox.value);
            });
            document.querySelector('#regionids').value = regionIds.join(',');
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#AdministratorInfoForm').submit();
                }
            });
        });
    });

    $(function () {
        $('#save2').on('click', function () {
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#BillingInfoForm').submit();
                }
            });
        });
    });
</script>