﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Physician Profile";
}
@using static HaloDocMVC.Entity.Models.Constant;
@model HaloDocMVC.Entity.Models.ProviderMenu;

@{
    var enumData = from AdminStatus e in Enum.GetValues(typeof(AdminStatus))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Profile</strong></h4>
        </div>
        @if (CredentialValue.role() == "Admin")
        {
            <div class="backBtn">
                <a asp-controller="Access" asp-action="UserAccess"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
            </div>
        }
    </div>
    @* Profile Information *@
    <div class="bg-white rounded shadow mt-3">
        <div class="p-4">
            <div class="d-flex justify-content-between mb-4">
                <h5><strong>Account Information</strong></h5>
                @if (CredentialValue.role() == "Provider")
                {
                    <a class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#requestadmin">Request To Admin</a>
                    <partial name="../AdminDashboardActions/RequestAdmin.cshtml" />
                }
            </div>
            @* Account Information *@
            <form method="post" asp-controller="Access" asp-action="EditPassword" id="resetpassform" class="mt-0" onsubmit="displayBusyIndicator()">
                <input type="hidden" asp-for="PhysicianId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="UserName" class="form-control shadow-none input1" id="uname" placeholder="User Name" />
                                <label for="uname">User Name</label>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="PassWord" class="form-control shadow-none" id="pass" placeholder="Password" />
                                <label for="pass">Password</label>
                                <span asp-validation-for="PassWord" class="text-danger"></span>
                            </div>
                        </div>
                        @if (CredentialValue.role() == "Admin")
                        {
                            <div class="col-md-6 pb-3">
                                <div class="form-floating">
                                    <select class="form-select input1" required asp-for="Status" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(enumData, "ID", "Name"))" data-control="select2" data-placeholder="Select Level">
                                    </select>
                                    <label for="Status">Status</label>
                                </div>
                            </div>
                            <div class="col-md-6 pb-3">
                                <div class="form-floating">
                                    <select class="form-select input1" required asp-for="RoleId" data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.PhysRole, "RoleId", "Name"))" data-control="select2" data-placeholder="Select Level"></select>
                                    <label for="role">Role</label>
                                </div>
                            </div>
                        }
                        <div class="d-flex justify-content-end">
                            @if (CredentialValue.role() == "Admin")
                            {
                                <div class="mx-3">
                                    <input type="button" value="Edit" id="edit1" class="btn btn-info text-white" onclick="toggleFormElements1()" />
                                    <input type="button" value="Save" id="save1" class="btn btn-info text-white" />
                                </div>
                            }
                            <input type="button" value="Reset Password" id="resetpassbtn" class="btn border border-info text-info" />
                        </div>
                    </div>
                </div>
            </form>

            @* Physician Information *@
            <form method="post" asp-controller="Access" asp-action="EditPhysInfo" id="PhysicianInfoForm" class="mt-0" onsubmit="displayBusyIndicator()">
                <h5><strong>Physician Information</strong></h5>
                <input type="hidden" asp-for="PhysicianId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="FirstName" class="form-control shadow-none input2" id="fname1" placeholder="First Name">
                                <label for="fname1">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="LastName" class="form-control shadow-none input2" id="lname1" placeholder="Last Name">
                                <label for="lname1">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Email" class="form-control shadow-none input2" id="dob1" placeholder="Date Of Birth">
                                <label for="dob1">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating h-100 w-100">
                                <input type="tel" asp-for="Mobile" class="form-control shadow-none input2" id="uphone" autocomplete="off" placeholder="Phone Number">
                                <label for="phone1">Phone Number</label>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="MedicalLicense" class="form-control shadow-none input2" id="mLicense" placeholder="Medical License #">
                                <label for="mLicense">Medical License #</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="NpiNumber" class="form-control shadow-none input2" id="npi" placeholder="NPI Number">
                                <label for="npi">NPI Number</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="SyncEmailAddress" class="form-control shadow-none input2" id="syncAddress" placeholder="Synchronization Email Address">
                                <label for="syncAddress">Synchronization Email Address</label>
                                <span asp-validation-for="SyncEmailAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <input asp-for="RegionsId" type="hidden" id="regionids" />
                        <div class="col-md-6 d-flex flex-wrap pb-3">
                            @foreach (var cb in ViewBag.AllRegion)
                            {
                                @if (Model != null && Model.RegionIds.Count > 0 && Model.RegionIds.Exists(id => id.RegionId == cb.RegionId))
                                {
                                    <div class="form-check mx-2">
                                        <input class="form-check-input cb1" value="@cb.RegionId" type="checkbox" name="Region" id="flexCheckDefault" checked>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @cb.RegionName
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check mx-2">
                                        <input class="form-check-input cb1" value="@cb.RegionId" type="checkbox" name="Region" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @cb.RegionName
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                        @if (CredentialValue.role() == "Admin")
                        {
                            <div class="d-flex justify-content-end">
                                <input type="button" value="Edit" id="edit2" class="btn btn-info text-white" onclick="toggleFormElements2()" />
                                <input type="button" value="Save" id="save2" class="btn btn-info text-white" />
                            </div>
                        }
                    </div>
                </div>
            </form>

            @* Mailing/Billing Information *@
            <form method="post" asp-controller="Access" asp-action="BillingInfoEdit" id="BillingInfoForm" class="mt-0" onsubmit="displayBusyIndicator()">
                <h5><strong>Mailing & Billing Information</strong></h5>
                <input type="hidden" asp-for="PhysicianId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Address1" class="form-control shadow-none input3" id="Address1" placeholder="Address1">
                                <label for="Address1">Address 1</label>
                                <span asp-validation-for="Address1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="Address2" class="form-control shadow-none input3" id="Address2" placeholder="Address2">
                                <label for="Address2">Address 2</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="City" class="form-control shadow-none input3" id="City" placeholder="City">
                                <label for="City">City</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <select class="form-select" asp-for="State" id="State" data-allow-clear="true" tabindex="-1" id="regiondropdown" asp-items="@(new SelectList(ViewBag.AllRegion,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                    <option value="">Select State</option>
                                </select>
                                <label for="State">State</label>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="ZipCode" class="form-control shadow-none input3" id="Zip" placeholder="ZipCode">
                                <label for="Zip">Zip</label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating h-100 w-100">
                                <input type="tel" asp-for="AltPhone" class="form-control shadow-none input3" id="phone" autocomplete="off" placeholder="Phone Number">
                                <label for="phone1">Phone Number</label>
                                <span asp-validation-for="AltPhone" class="text-danger"></span>
                            </div>
                        </div>
                        @if (CredentialValue.role() == "Admin")
                        {
                            <div class="d-flex justify-content-end">
                                <input type="button" value="Edit" id="edit3" class="btn btn-info text-white" onclick="toggleFormElements3()" />
                                <input type="button" value="Save" id="save3" class="btn btn-info text-white" />
                            </div>
                        }
                    </div>
                </div>
            </form>

            @* Provider Profile *@
            <form method="post" asp-controller="Access" asp-action="ProviderInfoEdit" id="ProviderInfoForm" enctype="multipart/form-data" class="mt-0" onsubmit="displayBusyIndicator()">
                <h5><strong>Provider Profile</strong></h5>
                <input type="hidden" asp-for="PhysicianId" />
                <div class="col-xl-12">
                    <div class="row pb-4">
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="BusinessName" class="form-control shadow-none input4" id="BusinessName" placeholder="Business Name">
                                <label for="BusinessName">Business Name</label>
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="form-floating">
                                <input type="text" asp-for="BusinessWebsite" class="form-control shadow-none input4" id="BusinessWebsite" placeholder="Business Website">
                                <label for="BusinessWebsite">Businesss Website</label>
                                <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="d-flex justify-content-between border border-secondary rounded input4">
                                <button type="button" id="choosenfile" class="col btn text-start fileSelect form-control" onclick="document.getElementById('file').click()">
                                    Select Photo
                                </button>
                                <input id="file" asp-for="PhotoFile" type="file" class="d-none form-control doc_uploder">
                                <div class="btn btn-info text-white py-2" value="Upload" id="fileupload">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span class="d-none d-sm-inline">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pb-3">
                            <div class="d-flex justify-content-between border border-secondary rounded input4">
                                <button type="button" id="choosenfile1" class="col btn text-start fileSelect form-control" onclick="document.getElementById('file1').click()">
                                    Select Signature
                                </button>
                                <input id="file1" asp-for="SignatureFile" type="file" class="d-none form-control doc_uploder">
                                <div class="btn btn-info text-white py-2" value="Upload" id="fileupload1">
                                    <i class="fa fa-cloud-upload"></i>
                                    <span class="d-none d-sm-inline">Upload</span>
                                </div>
                            </div>
                        </div>
                        @if (CredentialValue.role() == "Admin")
                        {
                            <div class="col-md-12 pb-3">
                                <div class="form-floating">
                                    <textarea type="text" asp-for="AdminNotes" class="form-control shadow-none input4" id="AdminNotes" rows="10" placeholder="Admin Notes"></textarea>
                                    <label for="AdminNotes" class="form-label">Admin Notes</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="button" value="Edit" id="edit4" class="btn btn-info text-white" onclick="toggleFormElements4()" />
                                <input type="button" value="Save" id="save4" class="btn btn-info text-white" />
                            </div>
                        }
                    </div>
                </div>
            </form>
            <hr class="mb-4" />
            <form method="post" asp-controller="Access" asp-action="ProviderEditSubmit" id="formSubmit" enctype="multipart/form-data" class="mt-0" onsubmit="displayBusyIndicator()">
                <input type="hidden" asp-for="PhysicianId" />
                <div class="p-4">
                    <h5><strong>Onboarding</strong></h5>
                    <div class="col-md-12 mb-2">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-check mx-2">
                                    <input class="form-check-input agreement-checkbox cb2" asp-for="IsTrainingDoc" type="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label ms-4" for="flexCheckDefault">
                                        HIPAA Compliance
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex">
                                <div class="me-3">
                                    @if (CredentialValue.role() == "Admin")
                                    {
                                        var isChecked = Model != null ? Model.IsTrainingDoc : false;
                                        <input id="filebtn3" type="file" class="d-none form-control doc_uploder file" asp-for="TrainingDoc" disabled>
                                        <button type="button" class="btn btn-info text-white upload-button me-2" value="Upload" onclick="document.getElementById('filebtn3').click()" disabled>
                                            <span class="d-none d-sm-inline">Upload</span>
                                        </button>
                                    }
                                    

                                    @{
                                        if (Model != null && (bool)Model.IsTrainingDoc)
                                        {
                                            <a href="~/Upload/Physician/@Model.PhysicianId/Trainingdoc.pdf" target="_blank" class="btn btn-info text-white">View</a>
                                        }
                                    }
                                </div>

                                <!-- Display uploaded file details -->
                                <div class="file-details" style="display:none;">
                                    <p><span class="file-name"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (CredentialValue.role() == "Admin")
                    {
                        <div class="col-md-12 mb-2 mt-3">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-check mx-2">
                                        <input class="form-check-input agreement-checkbox cb2" asp-for="IsAgreementDoc" name="Isagreementdoc" type="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label ms-4" for="flexCheckDefault">
                                            Independent Contractor Agreement
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex">
                                    <div class="me-3">
                                        @{
                                            var isChecked = Model != null ? Model.IsAgreementDoc : false;
                                        }

                                        <input id="filebtn1" type="file" class="d-none form-control doc_uploder file " asp-for="AgreementDoc" disabled>
                                        <button type="button" class="btn btn-info text-white upload-button" value="Upload" onclick="document.getElementById('filebtn1').click()" disabled>
                                            <span class="d-none d-sm-inline">Upload</span>
                                        </button>
                                    </div>
                                    @{
                                        if (Model != null && (bool)Model.IsAgreementDoc)
                                        {
                                            <a href="~/Upload/Physician/@Model.PhysicianId/Agreementdoc.pdf" target="_blank" class="btn btn-info text-white">View</a>
                                        }
                                    }
                                    <a class="btn btn-info mx-2 text-white view-button" style="display:none;">View</a>

                                    <!-- Display uploaded file details -->
                                    <div class="file-details" style="display:none;">
                                        <p><span class="file-name"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-2">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-check mx-2">
                                        <input class="form-check-input agreement-checkbox cb2" asp-for="IsBackgroundDoc" type="checkbox" id="Isbackgrounddoc">
                                        <label class="form-check-label ms-4" for="Isbackgrounddoc">
                                            Background Check
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex">
                                    <div class="me-3">
                                        @{
                                            isChecked = Model != null ? Model.IsBackgroundDoc : false;
                                        }
                                        <input id="filebtn2" type="file" class="d-none form-control doc_uploder file" asp-for="BackGroundDoc" disabled>
                                        <button type="button" class="btn btn-info text-white upload-button" value="Upload" onclick="document.getElementById('filebtn2').click()" disabled>
                                            <span class="d-none d-sm-inline">Upload</span>
                                        </button>
                                    </div>
                                    @{
                                        if (Model != null && (bool)Model.IsBackgroundDoc)
                                        {
                                            <a href="~/Upload/Physician/@Model.PhysicianId/BackGrounddoc.pdf" target="_blank" class="btn btn-info text-white">View</a>
                                        }
                                    }
                                    <!-- Display uploaded file details -->
                                    <div class="file-details" style="display:none;">
                                        <p><span class="file-name"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-2">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-check mx-2">
                                        <input class="form-check-input agreement-checkbox cb2" asp-for="IsNonDisclosureDoc" type="checkbox" id="Isnondisclosuredoc">
                                        <label class="form-check-label ms-4" for="Isnondisclosuredoc">
                                            Non-disclosure Agreement
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex">
                                    <div class="me-3">
                                        @{
                                            isChecked = Model != null ? (bool)Model.IsNonDisclosureDoc : false;
                                        }
                                        <input id="filebtn4" type="file" class="d-none form-control doc_uploder file" asp-for="NonDisclosureDoc" disabled>
                                        <button type="button" class="btn btn-info text-white upload-button" value="Upload" onclick="document.getElementById('filebtn4').click()" disabled>
                                            <span class="d-none d-sm-inline">Upload</span>
                                        </button>
                                    </div>
                                    @{
                                        if (Model != null && (bool)Model.IsNonDisclosureDoc)
                                        {
                                            <a href="~/Upload/Physician/@Model.PhysicianId/NonDisclosuredoc.pdf" target="_blank" class="btn btn-info text-white">View</a>
                                        }
                                    }
                                    <!-- Display uploaded file details -->
                                    <div class="file-details" style="display:none;">
                                        <p><span class="file-name"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-2">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-check mx-2">
                                        <input class="form-check-input agreement-checkbox cb2" asp-for="IsLicenseDoc" type="checkbox" id="Islicensedoc">
                                        <label class="form-check-label ms-4" for="Islicensedoc">
                                            License Document
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex">
                                    <div class="me-3">
                                        @{
                                            isChecked = Model != null ? Model.IsLicenseDoc : false;
                                        }
                                        <input id="filebtn5" type="file" class="d-none form-control doc_uploder file" asp-for="LicenseDoc" disabled>
                                        <button type="button" class="btn btn-info text-white upload-button" value="Upload" onclick="document.getElementById('filebtn5').click()" disabled>
                                            Upload
                                        </button>

                                        @{
                                            if (Model != null && (bool)Model.IsLicenseDoc)
                                            {
                                                <a href="~/Upload/Physician/@Model.PhysicianId/Agreementdoc.pdf" target="_blank" class="btn btn-info text-white">View</a>
                                            }
                                        }
                                    </div>
                                    <!-- Display uploaded file details -->
                                    <div class="file-details" style="display:none;">
                                        <p><span class="file-name"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (CredentialValue.role() == "Admin")
                {
                    <hr />
                }
                <div class="d-flex flex-wrap justify-content-end">
                    @if (CredentialValue.role() == "Admin")
                    {
                        <input type="button" class="btn bg-info text-white rounded px-3 me-2" id="submitForm" value="Save" />
                        <a asp-controller="Access" asp-action="DeleteAccount" asp-route-id="@Model.PhysicianId" class="btn btn-danger rounded px-3">Delete Account</a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_Loader.cshtml" />
<script>
    window.onload = function (e) {
        toggleFormElements1('true')
        toggleFormElements2('true')
        toggleFormElements3('true')
        toggleFormElements4('true')
        $(".cb1").prop("disabled", true);
        $('.form-select').prop('disabled', true)
        if ("@CredentialValue.role()" == "Provider") {
            $(".cb2").prop("hidden", true);
        }
        $(".fileSelect").prop("disabled", true);
    }
    function toggleFormElements1(bDisabled) {
        var inputs = document.getElementsByClassName("input1");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        if ("@CredentialValue.role()" == "Admin") {
            var submit = document.getElementById("save1");
            var editprofile = document.getElementById("edit1");
            if (inputs[0].disabled) {
                submit.style.display = "none";
                editprofile.style.display = "block";
            } else {
                submit.style.display = "block";
                editprofile.style.display = "none";
            }
        }
    }
    function toggleFormElements2(bDisabled) {
        var inputs2 = document.getElementsByClassName("input2");
        for (var i = 0; i < inputs2.length; i++) {
            inputs2[i].disabled = !inputs2[i].disabled;
        }
        if ("@CredentialValue.role()" == "Admin") {
            var submit2 = document.getElementById("save2");
            var editprofile2 = document.getElementById("edit2");
            $(".cb1").prop("disabled", false);
            if (inputs2[0].disabled) {
                submit2.style.display = "none";
                editprofile2.style.display = "block";
            } else {
                submit2.style.display = "block";
                editprofile2.style.display = "none";
            }
        }
    }
    function toggleFormElements3(bDisabled) {
        var inputs3 = document.getElementsByClassName("input3");
        for (var i = 0; i < inputs3.length; i++) {
            inputs3[i].disabled = !inputs3[i].disabled;
        }
        $('.form-select').prop('disabled', false)
        if ("@CredentialValue.role()" == "Admin") {
            var submit3 = document.getElementById("save3");
            var editprofile3 = document.getElementById("edit3");
            if (inputs3[0].disabled) {
                submit3.style.display = "none";
                editprofile3.style.display = "block";
            } else {
                submit3.style.display = "block";
                editprofile3.style.display = "none";
            }
        }
    }
    function toggleFormElements4(bDisabled) {
        var inputs4 = document.getElementsByClassName("input4");
        for (var i = 0; i < inputs4.length; i++) {
            inputs4[i].disabled = !inputs4[i].disabled;
        }
        if ("@CredentialValue.role()" == "Admin") {
            var submit4 = document.getElementById("save4");
            var editprofile4 = document.getElementById("edit4");
            $(".fileSelect").prop("disabled", false);
            if (inputs4[0].disabled) {
                submit4.style.display = "none";
                editprofile4.style.display = "block";
            } else {
                submit4.style.display = "block";
                editprofile4.style.display = "none";
            }
        }
        
    }
    $("#file").change(function () {
        filename = this.files[0].name;
        console.log(filename);
        $("#choosenfile").text(filename);
    });
    $("#file1").change(function () {
        filename1 = this.files[0].name;
        console.log(filename1);
        $("#choosenfile1").text(filename1);
    });
    $(function () {
        $('#resetpassbtn').on('click', function () {
            Swal.fire({
                title: "Do you want Reset Password Changes ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#resetpassform').submit();
                }
            });
        });
    });
        
    $(function () {
        $('#save1').on('click', function () {
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#resetpassform').submit();
                }
            });
        });
    });

    $(function () {
        $('#save2').on('click', function () {
            let checkboxes = document.querySelectorAll('input[name="Region"]:checked');
            let regionIds = [];
            checkboxes.forEach((checkbox) => {
                regionIds.push(checkbox.value);
            });
            document.querySelector('#regionids').value = regionIds.join(',');
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#PhysicianInfoForm').submit();
                }
            });
        });
    });

    $(function () {
        $('#save3').on('click', function () {
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#BillingInfoForm').submit();
                }
            });
        });
    });

    $(function () {
        $('#save4').on('click', function () {
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#ProviderInfoForm').submit();
                }
            });
        });
    });

    $(function () {
        $('#submitForm').on('click', function () {
            Swal.fire({
                title: "Do you want to Submit the form ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't submit`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#formSubmit').submit();
                }
            });
        });
    });

    $(document).ready(function () {
        $(document).on('change', '.agreement-checkbox', function () {
            var checkbox = $(this);
            var row = checkbox.closest('.row');
            var uploadBtn = row.find('.upload-button');
            var doc_uploder = row.find('.doc_uploder');
            uploadBtn.prop('disabled', !checkbox.prop('checked'));
            doc_uploder.prop('disabled', !checkbox.prop('checked'));
        });
    });
</script>