﻿@{
    string path = Context.Request.Path;
}
<nav class="navbar px-5 navbar-expand-lg shadow rounded d-none d-lg-block">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Home") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Home">Dashboard</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/AdminProfile") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                </li>
                @if (CredentialValue.RoleID() == "1")
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">Provider Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Providers") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Providers">Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Partners") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Partners">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Access") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Access">Access</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Records") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Records">Records</a>
                    </li>
                }
                @if (CredentialValue.RoleID() == "2")
                {
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(path.StartsWith("/Chat") ? "activesbnav" : "")" asp-action="" asp-controller="">Chat</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(path.StartsWith("/Invoicing") ? "activesbnav" : "")" asp-action="" asp-controller="">Invoicing</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(path.StartsWith("/Schedule") ? "activesbnav" : "")" asp-action="" asp-controller="">My Schedule</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-start w-50" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-info text-white">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome <strong>@CredentialValue.UserName()</strong></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item h6"><a asp-controller="AdminDashboard" asp-action="Index" class="text-decoration-none text-dark">Dashboard</a></li>
            <li class="list-group-item h6"><a asp-controller="AdminProfile" asp-action="Index" class="text-decoration-none text-dark">My Profile</a></li>
            @if (CredentialValue.RoleID() == "1")
            {
                <li class="list-group-item h6"><a asp-controller="ProviderLocation" asp-action="Index" class="text-decoration-none text-dark">Provider Location</a></li>
                <li class="list-group-item h6"><a asp-controller="Providers" asp-action="Index" class="text-decoration-none text-dark">Providers</a></li>
                <li class="list-group-item h6"><a asp-controller="Partners" asp-action="Index" class="text-decoration-none text-dark">Partners</a></li>
                <li class="list-group-item h6"><a asp-controller="Access" asp-action="Index" class="text-decoration-none text-dark">Access</a></li>
                <li class="list-group-item h6"><a asp-controller="Records" asp-action="Index" class="text-decoration-none text-dark">Records</a></li>
            }
            @if (CredentialValue.RoleID() == "2")
            {
                <li class="list-group-item h6"><a asp-controller="Partners" asp-action="Index" class="text-decoration-none text-dark">Chat</a></li>
                <li class="list-group-item h6"><a asp-controller="Access" asp-action="Index" class="text-decoration-none text-dark">Invoicing</a></li>
                <li class="list-group-item h6"><a asp-controller="Records" asp-action="Index" class="text-decoration-none text-dark">My Schedule</a></li>
            }
        </ul>
    </div>
</div>