@using HaloDocMVC.Repository.Admin.Repository.Interface;
@inject ILogin Login;
@{
    string path = Context.Request.Path;
}
<nav class="navbar px-5 navbar-expand-lg shadow rounded d-none d-lg-block">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Dashboard"))
                {
                    <li class="nav-item">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/DashBoard") || path.StartsWith("/Home") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Home">Dashboard</a>
                    </li>
                }
                @if(CredentialValue.role() == "Provider")
                {
                    @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Invoicing"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark @(path.StartsWith("/Physician/Invoicing") ? "active" : "")" asp-action="Index" asp-controller="Invoicing">Invoicing</a>
                        </li>
                    }
                    @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "MySchedule"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark @(path.StartsWith("/Scheduling") ? "active" : "")" asp-action="Index" asp-controller="Scheduling">My Schedule</a>
                        </li>
                    }
                }
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "MyProfile"))
                {
                    @if (CredentialValue.role() == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/AdminProfile") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                        </li>
                    }
                    @if (CredentialValue.role() == "Provider")
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/ProviderProfile") ? "active" : "")" aria-current="page" asp-action="EditProvider" asp-controller="Access">My Profile</a>
                        </li>
                    }                        
                }
                @if(CredentialValue.role() == "Admin")
                {
                    @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "ProviderLocation"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark @(path.StartsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">Provider Location</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Providers") || path.StartsWith("/Scheduling") || path.StartsWith("/Invoicing") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Providers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Provider"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Providers") ? "active" : "")" asp-action="Index" asp-controller="Providers">Provider</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Scheduling"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Scheduling") ? "active" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Invoicing"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Invoicing") ? "active" : "")" asp-action="IndexAdmin" asp-controller="Invoicing"> Invoicing</a>
                            }
                        </div>
                    </li>
                    @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "VendorsInfo"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Partners") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Partners">Partners</a>
                        </li>
                    }
                    @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Role"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Access") || path.StartsWith("/ProviderProfile") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Access
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item @(path.EndsWith("/Access") ? "active" : "")" asp-action="Index" asp-controller="Access">Account Access</a>
                                <a class="dropdown-item @(path.StartsWith("/Access/UserAccess") ? "active" : "")" asp-action="UserAccess" asp-controller="Access">User Access</a>
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Records") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Records
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "History"))
                            {
                                <a class="dropdown-item @(path.EndsWith("/Records") ? "active" : "")" asp-action="Index" asp-controller="Records">Search Records</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "EmailLogs"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Records/EmailLogs") ? "active" : "")" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "SMSLogs"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Records/SMSLogs") ? "active" : "")" asp-action="SMSLogs" asp-controller="Records">SMS Logs</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "PatientRecords"))
                            {
                                <a class="dropdown-item @(path.StartsWith("/Records/PatientHistory") ? "active" : "")" asp-action="PatientHistory" asp-controller="Records">Patient Records</a>
                            }
                            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "BlockedHistory"))
                            {
                                <a class="dropdown-item @(path.EndsWith("/Records/BlockedHistory") ? "active" : "")" asp-action="BlockedHistory" asp-controller="Records">Blocked History</a>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-start w-50" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-info text-white">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome <strong>@CredentialValue.UserName()</strong></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Dashboard"))
            {
                <li class="list-group-item h6">
                    <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Admin/DashBoard") || path.StartsWith("/Physician/DashBoard") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Home">Dashboard</a>
                </li>
            }
            @if(CredentialValue.role() == "Provider")
            {
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Invoicing"))
                {
                    <li class="list-group-item h6">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/Invoicing") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">Invoicing</a>
                    </li>
                }
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "ProviderLocation"))
                {
                    <li class="list-group-item h6">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">Provider Location</a>
                    </li>
                }
            }
            @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "MyProfile"))
            {
                <li class="list-group-item h6">
                    <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/AdminProfile") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                </li>
            }
            @if (CredentialValue.role() == "Admin")
            {
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "ProviderLocation"))
                {
                    <li class="list-group-item h6">
                        <a class="nav-link px-3 text-dark @(path.StartsWith("/ProviderLocation") ? "active" : "")" asp-action="Index" asp-controller="ProviderLocation">Provider Location</a>
                    </li>
                }
                <li class="list-group-item h6 dropdown">
                    <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Providers") || path.StartsWith("/Scheduling") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Providers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Provider"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Providers") ? "active" : "")" asp-action="Index" asp-controller="Providers">Provider</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Scheduling"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Scheduling") ? "active" : "")" asp-action="Index" asp-controller="Scheduling">Scheduling</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Invoicing"))
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Invoicing"> Invoicing</a>
                        }
                    </div>
                </li>
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "VendorsInfo"))
                {
                    <li class="list-group-item h6">
                        <a class="nav-link px-3 text-dark currentpage @(path.StartsWith("/Partners") ? "active" : "")" aria-current="page" asp-action="Index" asp-controller="Partners">Partners</a>
                    </li>
                }
                @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "Role"))
                {
                    <li class="list-group-item h6 dropdown">
                        <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Access") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Access
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item @(path.EndsWith("/Access") ? "active" : "")" asp-action="Index" asp-controller="Access">Account Access</a>
                            <a class="dropdown-item @(path.StartsWith("/Access/UserAccess") ? "active" : "")" asp-action="UserAccess" asp-controller="Access">User Access</a>
                        </div>
                    </li>
                }
                <li class="list-group-item h6 dropdown">
                    <a class="nav-link dropdown px-3 text-dark @(path.StartsWith("/Records") ? "active" : "")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Records
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "History"))
                        {
                            <a class="dropdown-item @(path.EndsWith("/Records") ? "active" : "")" asp-action="Index" asp-controller="Records">Search Records</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "EmailLogs"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Records/EmailLogs") ? "active" : "")" asp-action="EmailLogs" asp-controller="Records">Email Logs</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "SMSLogs"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Records/SMSLogs") ? "active" : "")" asp-action="SMSLogs" asp-controller="Records">SMS Logs</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "PatientRecords"))
                        {
                            <a class="dropdown-item @(path.StartsWith("/Records/PatientHistory") ? "active" : "")" asp-action="PatientHistory" asp-controller="Records">Patient Records</a>
                        }
                        @if (Login.isAccessGranted((int)CredentialValue.RoleId(), "BlockedHistory"))
                        {
                            <a class="dropdown-item @(path.EndsWith("/Records/BlockedHistory") ? "active" : "")" asp-action="BlockedHistory" asp-controller="Records">Blocked History</a>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</div>