@model HaloDocMVC.Entity.Models.PaginatedViewModel
@using static HaloDocMVC.Entity.Models.Constant

<form class="card" id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
      asp-action="_SearchResult" asp-controller="Home" novalidate="novalidate">
    <div class="row mt-3">
        <button value="1" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('1')">
            <div class="rounded p-3 s1 text-start a-s1 @{if(CredentialValue.CurrentStatus()=="1"){@Html.Raw("as")}}">
                <div>
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>New</span>
                </div>
                <h4><strong>@Model.NewRequest</strong></h4>
            </div>
        </button>
        <button value="2" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('2')">
            <div class="rounded p-3 s2 text-start a-s2 @{if(CredentialValue.CurrentStatus()=="2"){@Html.Raw("as")}}">
                <div>
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Pending</span>
                </div>
                <h4><strong>@Model.PendingRequest</strong></h4>
            </div>
        </button>
        <button value="4,5" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('4,5')">
            <div class="rounded p-3 s3 text-start a-s3 @{if(CredentialValue.CurrentStatus()=="4,5"){@Html.Raw("as")}}">
                <div>
                    <i class="fa-solid fa-circle-check"></i>
                    <span>Active</span>
                </div>
                <h4><strong>@Model.ActiveRequest</strong></h4>
            </div>
        </button>
        <button value="6" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('6')">
            <div class="rounded p-3 s4 text-start a-s4 @{if(CredentialValue.CurrentStatus()=="6"){@Html.Raw("as")}}">
                <div>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Conclude</span>
                </div>
                <h4><strong>@Model.ConcludeRequest</strong></h4>
            </div>
        </button>
        @if (CredentialValue.role() == "Admin")
        {
            <button value="3,7,8" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('3,7,8')">
                <div class="rounded p-3 s5 text-start a-s5 @{if(CredentialValue.CurrentStatus()=="3,7,8"){@Html.Raw("as")}}">
                    <div>
                        <i class="fa-solid fa-user-clock"></i>
                        <span>To Close</span>
                    </div>
                    <h4><strong>@Model.ToCloseRequest</strong></h4>
                </div>
            </button>
            <button value="9" name="Status" class="btn col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 shadow-none position-relative" onclick="changeStatus('9')">
                <div class="rounded p-3 s6 text-start a-s6 @{if(CredentialValue.CurrentStatus()=="9"){@Html.Raw("as")}}">
                <div>
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <span>Unpaid</span>
                </div>
                <h4><strong>@Model.UnpaidRequest</strong></h4>
            </div>
        </button>
        }
    </div>
    <div class="d-flex justify-content-between mt-4 mx-2 searchPatientRegion">
        <div>
            <span class="d-flex align-items-center">
                <h5>
                    Patients
                </h5>
                <span>
                    (New)
                </span>
            </span>
        </div>
        <div class="linkButtons">
            <button type="button" class="btn btn-info mb-2 text-white" data-bs-toggle="modal" data-bs-target="#sendLink"><i class="fa-regular fa-paper-plane px-1"></i><span class="adminIcon">Send Link</span></button>
            <a asp-action="CreateRequest" asp-controller="Buttons" class="btn btn-info mb-2 text-white"><i class="fa-solid fa-file-pen px-1"></i><span class="adminIcon">Create Requests</span></a>
            @if (CredentialValue.role() == "Admin")
            {
                <button type="button" onclick="Export(@CredentialValue.CurrentStatus())" class="btn btn-info mb-2 text-white"><i class="fa-solid fa-share px-1"></i><span class="adminIcon">Export</span></button>
                <button type="button" onclick="Export('1,2,3,4,5,6,7,8,9,10,11')" class="btn btn-info mb-2 text-white"><i class="fa-regular fa-share-from-square px-1"></i><span class="adminIcon">Export All</span></button>
                <button type="button" class="btn btn-info mb-2 text-white" data-bs-toggle="modal" data-bs-target="#requestSupport"><i class="fa-solid fa-user-nurse px-1"></i><span class="adminIcon">Request Support</span></button>
            }
        </div>
    </div>
    <div class="border-1 rounded shadow mt-4 pb-4">
        <div class="mt-2 mx-2">
            <div class="searchBar px-2">
                <div class="searchPatientRegion py-2">
                    <div class="search m-1">
                        <a id="searchicon">
                            <i class="fa fa-search"></i>
                        </a>
                        <input type="text" id="searchInput" asp-for="SearchInput" class="form-control" placeholder="Search Patients" onkeydown="searchsubmit()">
                    </div>
                    @if (CredentialValue.role() == "Admin")
                    {
                        <div class="search m-1">
                            <i class="fa fa-search"></i>
                            <select class="form-select regionDropdown" asp-for="RegionId" data-allow-clear="true" tabindex="-1" id="regiondropdown" asp-items="@(new SelectList(ViewBag.AllRegion,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                <option>All Region</option>
                            </select>
                        </div>
                    }
                    <div class="search m-1 d-flex justify-content-between">
                        <span class="pagesize">Page Size</span>
                        <select class="form-select pagesizeselect" asp-for="PageSize" data-allow-clear="true" tabindex="-1" id="pagesizedropdown" data-control="select2" data-placeholder="Page Size">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="requestType">
                    <input type="hidden" asp-for="RequestType" id="requesttypevalue" class="form-control" placeholder="Search Patients">
                    <button class="me-3 btn shadow-none filterborder" onclick="assignvalue()">
                        All
                    </button>
                    <button class="me-3 btn shadow-none" onclick="assignvalue(2)">
                        <i class="fa-solid fa-circle mx-1" style="color:#5fbc61;"></i>
                        Patient
                    </button>
                    <button class="me-3 btn shadow-none" onclick="assignvalue(3)">
                        <i class="fa-solid fa-circle mx-1" style="color:#ed9124;"></i>
                        Family / Friend
                    </button>
                    <button class="me-3 btn shadow-none" onclick="assignvalue(1)">
                        <i class="fa-solid fa-circle mx-1" style="color:#cd697b;"></i>
                        Business
                    </button>
                    <button class="me-3 btn shadow-none" onclick="assignvalue(4)">
                        <i class="fa-solid fa-circle mx-1" style="color:#0a7cb9;"></i>
                        Concierge
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<partial name="../Buttons/SendLink.cshtml" />
<partial name="../Buttons/RequestSupport.cshtml" />
<script>
    $(document).ready(function () {
        $(".row > .btn > .rounded").click(function () {
            $(".row > .btn > .rounded").removeClass("as");
            $(this).addClass("as");
        });
        $(".requestType > .btn ").click(function () {
            $(".requestType > .btn").removeClass("filterborder");
            $(this).addClass("filterborder");
        });
    });
</script>
<script>
    function searchsubmit() {
        $('#filterForm').submit();
    }
    function assignvalue(e) {
        $('#requesttypevalue').val(e);
        $('#filterForm').submit();
    }
    function changeStatus(e) {
        $('#requeststatus').val(e);
        $('#filterForm').submit();
    }
    $(function () {
        $('#searchicon').on('click', function () {
            $('#filterForm').submit();
        });
    });
    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    $(function () {
        $('#regiondropdown').on('change', function () {
            $('#filterForm').submit();
        });
    });
    $(function () {
        $('#pagesizedropdown').on('change', function () {
            $('#filterForm').submit();
        });
    });
    function Export(status) {
        location.reload();
        console.log(status);
        $.ajax({
            method: "POST",
            url: "/Buttons/Export",
            data: { status: status},
            xhrFields: {
                responseType: 'blob'
            },

            success: function (result) {

                var blob = new Blob([result], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'RequestData.xlsx';

                document.body.appendChild(link);
                link.click();

                document.body.removeChild(link);
                window.URL.revokeObjectURL(link.href);
            },

            error: function () {
                console.log("error");
            }
        });
    }
</script>