@model HaloDocMVC.Entity.Models.PaginatedViewModel
@using static HaloDocMVC.Entity.Models.Constant

<div class="table-responsive m-2 mb-5 d-none d-sm-block">
    <table class="w-100 display" id="tableID">
        <thead class="theadbg py-2">
            <tr>
                <th scope="col">Name</th>
                <th></th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Region</th>
                <th scope="col">Physician Name</th>
                <th scope="col">Date of Service</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="mb-5">
            @foreach (var (item, index) in Model.adl.Select((item, index) => (item, index)))
            {
                <tr class="@Enum.GetName(typeof(ListType), item.RequestTypeId) border-bottom border-white text-white">
                    <td><small>@item.PatientName</small></td>
                    <td>
                        <button class="btn border-white text-white">
                            <i class="fa-regular fa-envelope"></i>
                        </button>
                    </td>
                    <td>
                        <small>@item.DateOfBirth.ToString()</small>
                    </td>
                    <td><small>@item.Region</small></td>
                    <td><small>Dr. @item.ProviderName</small></td>
                    <td><small>@item.RequestedDate.ToString("MMM d , yyyy")</small></td>
                    <td><small>@item.Address</small></td>
                    <td><small>@item.Notes</small></td>
                    <td>
                        <button class="btn border border-white text-white my-2">
                            <small>Patient</small>
                        </button>
                        <button class="btn border border-white text-white my-2">
                            <small>Provider</small>
                        </button>
                    </td>
                    <td>
                        <button class="btn border border-white text-white my-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <small>Actions</small>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Home" asp-action="ViewCase" asp-route-RId="@item.RequestId" asp-route-RTId="@item.RequestTypeId" asp-route-Status="378" class="dropdown-item"><i class="fa-regular fa-rectangle-list"></i> View Case</a></li>
                            <li><a class="dropdown-item"><i class="fa-solid fa-upload"></i> View Uploads</a></li>
                            <li><a asp-controller="Home" asp-action="ViewNotes" asp-route-RId="@item.RequestId" class="dropdown-item"><i class="fa-regular fa-note-sticky"></i> View Notes</a></li>
                            <li><a asp-action="Order" asp-controller="Home" asp-route-id="@item.RequestId" class="dropdown-item"><i class="fa-solid fa-list-check"></i> Orders</a></li>
                            <li><a class="dropdown-item" asp-action="CloseCase" asp-controller="Home" asp-route-RequestID="@item.RequestId"><i class="fa-regular fa-circle-xmark"></i> Close Case</a></li>
                            <li><a class="dropdown-item"><i class="fa-regular fa-rectangle-list"></i> Doctor's Note</a></li>
                            <li><a class="dropdown-item" onclick="model_Case(@index)" data-bs-toggle="modal" data-bs-target="#clearcase"><i class="fa-regular fa-circle-xmark"></i> Clear Case</a></li>
                            <li><a class="dropdown-item"><i class="fa-regular fa-rectangle-list"></i> Encounter</a></li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="accordion mt-3 d-block d-sm-none" id="accordionExample">
    @foreach (var (item, index) in Model.adl.Select((item, index) => (item, index)))
    {
        <div class="accordion-item s7">
            <div class="accordion-header" id="flush-heading-@item.RequestId">
                <div class="container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.RequestId" aria-expanded="true" aria-controls="collapse_@item.RequestId">
                    <div class="row w-100">
                        <div class="col-6 mb-3">
                            <small>@item.PatientName</small>
                        </div>
                        <div class="col-6 mb-3 text-end">
                            <small>(@Enum.GetName(typeof(ListType), item.RequestTypeId))</small>
                            <i class="fa-solid fa-circle txt-@Enum.GetName(typeof(ListType),item.RequestTypeId)"></i>
                        </div>
                        <div class="col-6">
                            @item.Address
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-white border-info text-info rounded-pill 2px">
                                <small>Map Location</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="flush-@item.RequestId" class="accordion-collapse collapse mb-3 border-bottom" data-bs-parent="#accordionExample">
                <div class="accordion-body container-fluid">
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-calendar-days me-2"></i>Date of Birth: @item.DateOfBirth.ToString()</p>
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-envelope me-2"></i>Email : @item.Email</p>
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-note-sticky me-2"></i>Transfer Notes : @item.Notes</p>
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-calendar-days me-2"></i>Date of service : @item.RequestedDate.ToString("dd/MM/yyyy")</p>
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-user-doctor me-2"></i>Physician : Dr. J K Shani</p>
                    <p><i class="btn btn-outline-info rounded-pill fa-solid fa-location-dot me-2"></i>Region : GJ</p>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <a class="btn btn-white bg-danger text-white rounded-pill 2px w-100" asp-action="CloseCase" asp-controller="Home" asp-route-RequestID="@item.RequestId">
                                <small>Close Case</small>
                            </a>
                        </div>
                        <div class="col-6 mb-3">
                            <a asp-controller="Home" asp-action="ViewNotes" asp-route-RId="@item.RequestId" class="btn btn-white bg-success text-white rounded-pill 2px w-100">
                                <small>View Notes</small>
                            </a>
                        </div>

                        <div class="col-6 mb-3">
                            <button class="btn btn-white bg-success text-white rounded-pill 2px w-100">
                                <small>Doctor's Note</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-white bg-success text-white rounded-pill 2px w-100">
                                <small>View Uploads</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-white bg-success text-white rounded-pill 2px w-100">
                                <small>Encounter</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3">
                            <button class="btn btn-white bg-warning text-white rounded-pill 2px w-100" onclick="model_Case(@index)" data-bs-toggle="modal" data-bs-target="#clearcase">
                                <small>Clear Case</small>
                            </button>
                        </div>
                        <div class="col-6 mb-3 ">
                            <button class="btn btn-white bg-success text-white rounded-pill 2px w-100">
                                <small>Email</small>
                            </button>
                        </div>
                    </div>
                    <div class="text-end d-md-flex justify-content-md-end">
                        <span>Chat With:</span>
                        <button class="btn btn-white border-info text-info me-md-2 mb-2" type="button">
                            <i class="fa-regular fa-user me-1"></i>
                            Patient
                        </button>
                        <button class="btn btn-white border-info text-info mb-2" type="button">
                            <i class="fa-solid fa-user-doctor me-1"></i>
                            Provider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="m-2 d-flex justify-content-end">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-container">
            @{
                int i;
                <form id="paginationform" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      asp-action="_SearchResult" asp-controller="Home" novalidate="novalidate" class="mt-0 d-flex">
                    <input type="hidden" asp-for="RegionId" />
                    <input type="hidden" asp-for="RequestType" />
                    <input type="hidden" asp-for="SearchInput" />
                    <input type="hidden" asp-for="PageSize" />
                    <input type="hidden" asp-for="CurrentPage" id="currentpagevalue" />

                    @if (@Model.CurrentPage > 1)
                    {
                    <li class="page-item me-2"><button class="btn shadow-none" onclick="setpagenumber('previous')">&lt;</button></li>
                    }
                    else
                    {
                    <li class="me-2 page-item"><a class="disabled btn">&lt;</a></li>
                    }
                    @for (i = 1; i <= @Model.TotalPages; i++)
                    {
                    <li class="page-item me-2"><button class="@(i == @Model.CurrentPage ? "activepagebtn" : "") btn shadow-none" onclick="setpagenumber(@i)">@i</button></li>
                    }
                    @if (@Model.TotalPages > @Model.CurrentPage)
                    {
                    <li class="page-item me-2"><button class="btn shadow-none" onclick="setpagenumber('next')">&gt;</button></li>
                    }
                    else
                    {
                    <li class="me-2 page-item"><a class="btn disabled">&gt;</a></li>
                    }
                </form>
            }
        </ul>
    </nav>
</div>
<script>
    function setpagenumber(e) {
        if (e == 'previous') {
            var cp = @Model.CurrentPage-1;
            $('#currentpagevalue').val(cp);
        }
        else if (e == 'next') {
            var cp = @Model.CurrentPage + 1;
            $('#currentpagevalue').val(cp);
        }
        else {
            $('#currentpagevalue').val(e);
        }
        $("#paginationform").submit();
    }
</script>
<script>
    function model_Case(id) {
        var modeldata = @Html.Raw(Json.Serialize(Model.adl))
        document.getElementById('RequestID_Input_ModelClearCase').value = modeldata[id].requestId;
    }
</script>