@model HaloDocMVC.Entity.Models.ViewDataViewCase;
@using static HaloDocMVC.Entity.Models.Constant
@{
    Layout = "_Layout";
    ViewData["Title"] = "View Case";
}
<div class="body">
    <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex align-items-center">
                <h4 class="pt-2">@Enum.GetName(typeof(Status), Model.Status) Request</h4>
                <span class="@Enum.GetName(typeof(ListType), Model.RequestTypeId) text-white rounded-pill mx-3 px-3 py-1">@Enum.GetName(typeof(ListType), Model.RequestTypeId)</span>
            </div>
            <div class="backBtn">
                <a asp-controller="Home" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
            </div>
        </div>
        <form class="card border-0 shadow py-4 mb-5 mt-3 rounded p-3 rounded container" method="post">
            <input type="hidden" asp-for="UserId" />
            <h4 class="mb-4">Patient Information</h4>
            <input type="hidden" asp-for="RequestId" />
            <div class="row">
                <div class="mb-4">
                    <span>Confirmation Number</span>
                    <strong class="text-info">@Model.ConfNo</strong>
                </div>
            </div>
            <div class="form-floating">
                <textarea asp-for="Notes" class="form-control shadow-none mb-4" id="symptoms" rows="5" placeholder="Patient Notes" disabled></textarea>
                <label for="symptoms" class="form-label">Patient Notes</label>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="FirstName" type="text" class="form-control shadow-none" id="fName" placeholder="FirstName" disabled>
                    <label for="fName" class="form-label">First Name</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="LastName" type="text" class="form-control shadow-none" id="lName" placeholder="LastName" disabled>
                    <label for="lName" class="form-label">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4 dateInput">
                    <input asp-for="DOB" type="date" class="form-control shadow-none" id="date" disabled>
                    <label for="date" class="form-label">Date of Birth</label>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 form-floating mb-4 phone">
                    <input asp-for="Mobile" class="form-control shadow-none" id="phone">
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12 form-floating mb-4">
                    <button class="btn btn-outline-info text text-info p-3" ><i class="fa-solid fa-phone"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="Email" type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    <label for="email" class="form-label">Email</label>
                </div>
                @if(Model.Status != 1)
                {
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 form-floating mb-4 d-flex justify-content-start">
                        <a id="edit" onclick="enable_disable()" class="btn btn-info text-white rounded p-2">Edit</a>
                        <input type="submit" id="submit" class="btn bg-info text-white rounded p-2" value="Save">
                    </div>
                }
            </div>
            <h4 class="mb-4">Location Information</h4>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="Region" type="text" class="form-control shadow-none" id="region" placeholder="Region" disabled>
                    <label for="region" class="form-label">Region</label>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="Address" type="text" class="form-control shadow-none" id="business" placeholder="Business Name / Address" disabled>
                    <label for="business" class="form-label">Business Name / Address</label>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12 form-floating mb-4">
                    <button class="btn btn-outline-info text text-info p-3"><i class="fa-solid fa-location-dot"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input type="text" class="form-control shadow-none" id="room" placeholder="Room" disabled>
                    <label for="room" class="form-label">Room# / Suite</label>
                </div>
            </div>
            <div class="row px-3 d-flex justify-content-end">
                @if(Model.Status == 1)
                {
                    <a class="col-1 btn btn-info text-white rounded mx-2 p-2" onclick="model_Case(@Model.RequestId)" data-bs-toggle="modal" data-bs-target="#assigncase" data-bs-requestid="@Model.RequestId" data-bs-patientname="@Model.FirstName">Assign</a>
                }
                <a asp-controller="Home" asp-action="ViewNotes" asp-route-id="@Model.RequestId" class="col-1 btn btn-info text-white rounded mx-2 p-2">Notes</a>
                <a class="col-1 btn btn-danger text-white rounded mx-2 p-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
<partial name="../AdminDashboardActions/AssignCase.cshtml" />
<script src="~/js/phone.js"></script>
<script>
    $(document).ready(function () {
        $("#email").prop("readonly", true);
        $("#phone").prop("readonly", true);
        $("#email").css("background-color", "#e9ecef");
        $("#phone").css("background-color", "#e9ecef");
        $("#submit").css("display", "none");
    });
</script>
<script>
    function enable_disable() {
        $("#email").prop("readonly", false);
        $("#phone").prop("readonly", false);
        //$("#submit").prop("readonly", false);
        $("#submit").css("display", "block");
        $("#edit").css("display", "none");
        $("#email").css("background-color", "transparent");
        $("#phone").css("background-color", "transparent");
    }
</script>
<script>
    function model_Case(id) {
        console.log(id);
        var modeldata = @Html.Raw(Json.Serialize(Model))
            console.log(modeldata[id])
        document.getElementById('RequestId_Input_ModelAssignCase').value = id;
    }
</script>