@using HaloDocMVC.Entity.Models
@using static HaloDocMVC.Entity.Models.Constant
@model HaloDocMVC.Entity.Models.ViewDataViewNotes
@{
    Layout = "_Layout";
    ViewData["Title"] = "View Notes";
}
<div class="body min-vh-100">
    <div class="container">
        <div class="d-flex justify-content-between mt-5 mb-5">
            <div class="d-flex align-items-center">
                <h3 class="pt-2">Notes</h3>
            </div>
            <div class="backBtn">
                <a asp-controller="Home" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
            </div>
        </div>
        <div class="row">
            @*Notes added by Admin*@
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4" id="adminnotes">
                <div class="card d-flex flex-row justify-content-start p-3">
                    <i class="fa-solid fa-user-tie fa-2xl mt-4"></i>
                    <div class="d-flex flex-column mx-4">
                        <strong class="viewNotes">Admin Notes</strong>
                        <span id="adminnotestext">@Model.AdminNotes</span>
                    </div>
                </div>
            </div>
            @*Notes added by Physician*@
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4" id="phynotes">
                <div class="card d-flex flex-row justify-content-start p-3">
                    <i class="fa-solid fa-user-doctor fa-2xl mt-4"></i>
                    <div class="d-flex flex-column mx-4">
                        <strong class="viewNotes">Physician Notes</strong>
                        <span id="phynotetext">@Model.PhysicianNotes</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*Cancellation Notes*@
            @foreach (var item in @Model.Cancel)
            {
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                    <div class="card d-flex flex-row justify-content-start p-3">
                        <i class="fa-regular fa-circle-xmark fa-2xl mt-4"></i>
                        <div class="d-flex flex-column mx-4">
                            <strong class="viewNotes">@Enum.GetName(typeof(Status), item.Status)</strong>
                            <span>@item.Notes</span>
                        </div>
                    </div>
                </div>
            }
            @*Cancellation by Physician Notes*@
            @foreach (var item in @Model.CancelByPhysician)
            {
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                    <div class="card d-flex flex-row justify-content-start p-3">
                        <i class="fa-regular fa-circle-xmark fa-2xl mt-4"></i>
                        <div class="d-flex flex-column mx-4">
                            <strong class="viewNotes">Cancel By Physician Notes</strong>
                            <span>@item.Notes</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @if (Model.TransferNotes.Count > 0)
            {
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                    <div class="card d-flex flex-row justify-content-start p-3">
                        <i class="fa-solid fa-arrow-right-arrow-left fa-2xl mt-4"></i>
                        <div class="d-flex flex-column mx-4">
                            <strong class="viewNotes">Transfer Notes</strong>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model.TransferNotes)
                            {
                                <span>
                                    <b>( @i ) </b>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.TransferNote))
                                </span>
                                i = i + 1;
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <form method="post" asp-action="ChangeNotes" asp-controller="Home" class="card mt-2 p-3">
                    <input type="hidden" name="RequestID" value="@Model.RequestId" />
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control shadow-none" placeholder="Leave a comment here" id="changenote" style="height: 100px"></textarea>
                            <label id="notedata" for="changenote">Edit Notes</label>
                        </div>
                        @if (TempData["Errormassage"] != null)
                        {
                            <div class="alert text-start alert-info alert-dismissible fade show" role="alert">
                                @TempData["Errormassage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info text-white">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#phynotes").click(function () {
            var text = $('#phynotetext').html().trim();
            $("#changenote").val(text);
            $("#changenote").attr("name", "physiciannotes");
            $("#notedata").html("Physician Note");
        })
        $("#adminnotes").click(function () {
            var text = $('#adminnotestext').html().trim();
            $("#changenote").val(text);
            $("#changenote").attr("name", "adminnotes");
            $("#notedata").html("Admin Note");
        })
    });
</script>